#card{
    width: 300px;
    height: 450px;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    box-shadow: black;
    border-radius: 15px;
    border-color: #8f8f9d;
}

#header{
    height: 120px;
    border-radius: 13px 13px 0 0;
    background: url(./img/4267109.jpg);
    background-size: cover;
}

#date{
    text-align: bottom;
}

#btnValider{
    padding: 12px;
    color: azure;
    border-style: none;
    border-radius: 2px;
    background-color: rgb(243, 132, 188);
}

input{
    padding: 10px;
    margin-top: 20px;
}
